nav
{
    height:42px;
    
}
 nav ul
{
    list-style: none;
}
nav ul li a{
     float: left;
    text-decoration: none;
    color:  #f2f2f2;
    padding: 0px 40px;
    text-align: center;
    line-height: 42px;
    height: 42px;
   
}
body 
{
   
    font-family: sans-serif;
}

nav ul li a:hover
{
    background-color: black;
    color:orange;
    border-radius: 8px;
    
}

/*Video*/



  /*.menu
{
    
    list-style: none;
    width: 240px;
    background: white;
    position: absolute;
        left:-240px;
    
    
}
.menu li a
{
    text-decoration: none;
    color:coral;
    display:block;
    padding: 15px 0;
    border-bottom: 1px solid azure;
    width:100%; text-align: center;
    
}
.menu li:last-child a
{
    border-bottom: none;
}
.menu a:hover{
    background: #E5DAC0; color: black;
}

.menu-icon{
    padding:    5px 10px;
    background: black;
    color:      azure;
    cursor:     pointer;
    float:      right;
}
#menuToggle {display:none;}
#menuToggle : checked ~ .menu {position: absolute; left:0;} */
